/* 
  BlueFire theme designed and built by Derek Webb of http://CollectiveColors.com
  Please see me if you would like to have modifications made to your website.

  Email me at: derek(at)collectivecolors(dot)com
*/

/* HTML styles */
html {
  background: #EEEEEF; /*#000D43;*/
}
body {
  width: 770px;  /* Total site width */
  margin: 15px auto;
  padding: 0;
  color: #000000;
  background-color: #FFFFFF;
  font: 76% tahoma, verdana, arial, trebuchet ms, helvetica;
}
table {
  font-size: 100%; /* Forces font size inheritance in IE5 */
  width: 100%;
}
table thead th {
  border-bottom: 2px solid #777777;
  padding: 3px 4px;
}
table tr td {
  border-bottom: 1px solid #777777;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
tr.odd td {
  background: #FFFFFF;
}
tr.even td {
  background: #EEEEEF;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.25em;
}
h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.7em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
  outline: none;
}
a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #39c;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ccc;
}
cite {
  font-style: italic;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}
.clear {
  height: 0px;
  line-height: 0px;
  clear: both;  
}

/* Header styles */
.header-div {
  background: #002EE6 url('images/BlueFire.png') right center no-repeat;
  height: 180px; 
  border-top: 1px solid #222222;
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
}
.header-left-div {
  height: 180px;
  width: 384px;
  float: left;
}
.header-right-div {
  height: 180px;
  width: 384px;
  float: left;
}

/* Left side - includes logo image, site name, and slogan */
.header-left-div .logo-img {
  margin: 15px;
  float: left;
}
.header-left-div .site-info-div {
  padding-top: 40px;
}
.header-left-div .site-info-div .site-name {
  font-size: 300%;
  margin-bottom: 10px;
}
.header-left-div .site-info-div .site-name a {
  color: #FFFFFF;
}
.header-left-div .site-info-div .site-name a:hover {
  color: #CECECE;
  text-decoration: none;
}
.header-left-div .site-info-div .site-slogan {
  font-size: 140%;
  font-weight: bold;
}

/* Right side - search block */
.header-right-div .searchbox-div {
  text-align: right;
  padding: 15px 15px 0 0;
} 
.header-right-div .searchbox-div .form-text {
  background: #EEEEEF;
}

/* Primary and secondary links styles */
/* Primary links */
.links-div {
  border: 1px solid #222222;
}
.links-div .plinks-div #navlist {
  font-size: 120%;
  font-weight: bold;
  padding: 4px 0;
  background: #8D8D8D url('images/BlueFirePrimaries.gif') 0 0 repeat-x;
}
.links-div .plinks-div #navlist li {
  margin: 0;
  padding: 0;
}
.links-div .plinks-div #navlist li a {
  color: #FFFFFF;
  margin: 0;
  padding: 4px 8px;
  border-right: 1px solid #222222;
}
.links-div .plinks-div #navlist li a:hover {
  color: #000000;
  background: url('images/BlueFirePrimaries.gif') 0 -50px repeat-x;
  text-decoration: none;
}
.links-div .plinks-div #navlist li a:active,
.links-div .plinks-div #navlist li a.active {
  color: #000000;
  background: url('images/BlueFirePrimaries.gif') 0 -100px repeat-x;
}

/* Secondary links */
.links-div .slinks-div {
  border-top: 1px solid #222;
}
.links-div .slinks-div #subnavlist {
  font-size: 100%;
  padding: 4px 0;
  background: #BC853F url('images/BlueFireSecondaries.gif') 0 0 repeat-x;
}
.links-div .slinks-div #subnavlist li {
  margin: 0;
  padding: 0;
}
.links-div .slinks-div #subnavlist li a {
  color: #FFFFFF;
  margin: 0;
  padding: 4px 8px;
  border-right: 1px solid #000000;
}
.links-div .slinks-div #subnavlist li a:hover {
  color: #000000;
  background: url('images/BlueFireSecondaries.gif') 0 -50px repeat-x;
  text-decoration: none;
}
.links-div .slinks-div #subnavlist li a:active,
.links-div .slinks-div #subnavlist li a.active {
  color: #000000;
  background: url('images/BlueFireSecondaries.gif') 0 -100px repeat-x;
}


/* Content area styles */
.main-div,
.main-nosb-div {
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
  width: 768px; /* compensate for 1px border on right and left of main-div (would be 770px) */
}
.main-div { /* There is a sidebar - display sidbar bg */
  /* Sidebar bg is set here so that it is guaranteed to go from top to bottom */
  background: url('images/BlueFireSidebarTile.gif') left repeat-y;
}
.content-div {
  float: right;
  width: 590px; /* compensate for 1px border on right of main-div (would be 595px) */
}
.content-nosb-div {
  width: 768px;
}
.content-mid-div {
  padding: 10px;
}
.content-inner-div {
  padding: 0 7px 7px 7px;
}
.breadcrumb a {
  color: #000000;
}
.breadcrumb a:hover {
  color: #000000;
  text-decoration: none;
}
.mission-div {
  border: 1px solid #AAAAAA;
  background: #F2F5F8;
  font-size: 120%;
  font-weight: bold;
  padding: 5px 8px;
}

/* Sidebar styles */
.sidebar-div {
  float: right;
  width: 178px; /* compensate for 1px border on left of main-div (would be 180px) */
  /**
  * NOTE: the background tile for the left sidebar is actually placed in the 
  * main-div so that the tile can go from top to bottom instead of stopping
  * when the sidebar does...
  **/     
}
.sidebar-div .sidebar-inner-div {
  padding: 0 10px 10px 10px;
}

.sidebar-div .item-list ul li,
.sidebar-div ul.menu li {      /* Standardize the display of menues */
  list-style-type: square;
  list-style-image: url(../../misc/menu-leaf.png);
  margin: 0 0 0.25em 1em;
  padding: 0;
}
/* Block styles */
.block {
  margin: 10px 0;
}
.block h2 {
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #BBD2F6;
}
.block ul.menu,
.block ul {
  padding: 0 0 .25em .5em;
}


/* Poll styles */
.poll {
  margin-bottom: .9em;
}
.poll .vote-form {
  text-align: left;
}
.poll .vote-form .choices {
  text-align: left;
  margin: 0 15px;
  display: table;
}
.poll .bar {
  height: 1.25em;
  margin: 1px 0;
  background: #A1C9FF url('images/BlueFirePollTiles.gif') 0 -40px repeat-x;
  border: 1px solid #222222;
}
.poll .bar .foreground {
  background: #6480FF url('images/BlueFirePollTiles.gif') 0 0 repeat-x;
  height: 1.25em;
  float: left;
  border-right: 1px solid #222222;
}


/* Node styles */
.node h2.title {
  margin-bottom: 5px;
  padding-bottom: 7px;
  border-bottom: 1px solid #BBD2F6;
}
.node .content {
  margin: 15px 0;
  padding: 0 5px;
}
.node-links,
.comment-links {
  text-align: right;
  margin: .25em 0 .75em 0;
  clear: both; /* Ensures pictures dont protrude past the bottom of nodes teasers and comments */
}
.node .picture,
.node-teaser .picture,
.comment .picture {
  display: inline;
  float: left;
  margin: 7px 7px 3px 5px;
}
.submitted, .meta {
  margin: .75em 0;
  padding-left: 7px;
}
.new {
  color: #F1B414;
  font-weight: bold;
  font-size: 120%;
  text-align: right;
}

/* Node icons - icons gathered from the amadou theme */
.content-inner-div .terms {
  padding: 4px 0 4px 20px;
  background: url('images/icons/tag_blue.gif') no-repeat 0 6px;
}
.content-inner-div .node_read_more a {
	background: url('images/icons/page_white.gif') no-repeat;
	padding-bottom: 7px;
	padding-left: 20px;
	position: relative; /* IE FIX - please stop using IE!!! */
}
.content-inner-div .comment_comments a {
  background: url('images/icons/comment.gif') no-repeat 0 2px;
	padding-bottom: 7px;
	padding-left: 20px;
	position: relative; /* IE FIX - please stop using IE!!! */
}
.content-inner-div .comment_add a,.comment_reply a {
	background: url('images/icons/comment_add.gif') no-repeat;
	padding-bottom: 7px;
	padding-left: 20px;
	position: relative; /* IE FIX - please stop using IE!!! */
}
.content-inner-div .comment_delete a {
	background: url('images/icons/comment_delete.gif') no-repeat;
	padding-bottom: 7px;
	padding-left: 20px;
	position: relative; /* IE FIX - please stop using IE!!! */
}
.content-inner-div .comment_edit a {
	background:url('images/icons/comment_edit.gif') no-repeat;
	padding-bottom: 7px;
	padding-left: 20px;
	position: relative; /* IE FIX - please stop using IE!!! */
}


/* Comment styles */
.comment {
  margin: 0 0 30px 0;
}
.comment .comment-title {
  margin-bottom: 10px;
}
.comment .comment-title h3 {
  margin-top: 5px;
  border-bottom: 1px solid #BBD2F6;
}
.comment .comment-title a:hover {
  text-decoration: none;
}
.comment .new {
  color: #F1B414;
  font-weight: bold;
  font-size: 120%;
  text-align: right;
}
.comment .content {
  margin: 12px 0;
  padding: 0 5px;
}
.comment .submitted {
  padding-left: 15px;
}


/* Forum styles */
#forum .container {
  background: #254CEA url('images/BlueFireForumContTile.gif') center repeat-x;
  padding: 7px 10px;
  color: #FFFFFF;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
}
#forum .forum {
  border-left: 1px solid #777777;
}
#forum .last-reply {
  border-right: 1px solid #777777;
}
#forum .container a {
  color: #FFFFFF;
  font-size: 110%;
}
#forum .container a:hover {
  text-decoration: underline;
}


/* Footer styles */
.footer-div {
  background: #DBDBDB url('images/BlueFireFooterTile.gif') top repeat-x;
  text-align: center;
  padding: 10px;
  border: 1px solid #222222;
}


/* admin styles */
.admin .clear-block {
  display: inline;
}
div.admin div.admin-panel {
  padding-bottom: 0px;
}
.admin-panel h3 {
  padding: 3px 5px;
  border: 1px solid #222222;
  background: #224BEA;
  color: #FFFFFF;
  margin: 10px 0 0 0;
}
.admin-panel .body {
  border: 1px solid #222222;
  background: #E9F2FD;
  margin: 3px 2px 5px 2px;
}
.admin-panel .body dl dd {
  margin: 5px 0 7px 10px;
  padding: 3px;
}
.admin-panel .body ul {
  padding: 0 5px 0 15px;
  margin: 7px 0;
}
.admin-panel .body ul li {
  margin: 2px 0;
  padding: 0;
}

/* Misc styles */
.messages {
  font-size: 140%;
  font-weight: bold;
  padding: 7px;
  margin: 10px 0; 
}
div.status {
  color: #3a3;
  border: 2px solid #3a3;
}
div.error, tr.error {
  color: red;
  border: 2px solid red;
  background: #fff; 
}

/* Tabs styles */
ul.primary li a {
  background: #7CAFEE;
  color: #000000;
}

ul.primary li a:hover {
  background: #D6E6FA;
  color: #000000;
}

ul.primary li a:active,
ul.primary li a.active {
  color: #000000;
}


